---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


Fall 2020
<ul>
  <li>Statistics (course 30001), Bocconi University</li>
  
</ul>

Spring 2021
<ul>
  <li>Statistics, Università degli Studi di Bergamo </li>
  
</ul>

Fall 2021
<ul>
  <li>Statistics (course 30001), Bocconi University</li>
  <li>Mathematics (course 30400), Bocconi University</li>
</ul>
